.container {
  background: #333;
  font-family: sans-serif;
  font-size: 10px !important;
}

.table {
  display: inline-table;
  height: 100%;
}

.cell {
  display: table-cell;
}

.cell.center {
  vertical-align: middle;
  text-align: center;
}

.cell.left {
  vertical-align: middle;
  text-align: left;
}

.cell.right {
  vertical-align: middle;
  text-align: right;
}

.cell.top {
  vertical-align: top;
  text-align: center;
}

.cell.bottom {
  vertical-align: bottom;
  text-align: center;
}

.cell .popup {
  display: inline-block;
  text-align: left;
  width: 60%;
}

.close {
  float: right;
}

.popup-title {
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  text-align: justify;
  font-weight: bold;
  background: #000;
  color: #fff;
}

.popup-content {
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background: #fff;
  color: #000;
}