:root {
  background: yellow;
  --green: green;
  /*--danger-theme: {
    color: red;
    background: black;
  }*/
}

li {
  font-weight: bold;
  font-size: 1.3em;
  background: var(--green);
}

ul {
  li {
    color: red;
  }
}

.p {
  /*@apply --dange-theme;*/
}
