/* Contains of the list of available styles */

.action {
  min-width: 130px;
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  margin-left: 15px;
  background: #f2f2f2;
}

.action-capitalized {
  composes: action;

  text-transform: uppercase;
}
