.header {
  background: orange;
  color: red;
}

.logo {
  width: 179px;
  height: 69px;
  background: url('../../../images/gt-logo-179x69.png');
}

:global .gt-config-component {
  background: yellow;
}