/* Mixins are here */

@define-mixin action-button {
  min-width: 80pt;
  padding: 6pt 10pt;
  border: 0;
  border-radius: 0;
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #19c2d5;
  margin-right: 10pt;
}
