/* Fonts, colors etc. for themes */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Oswald');


:root {
  --font-family-default-fallback: sans-serif;
  --font-family-Source-Sans-Pro: 'Source Sans Pro', var(--font-family-default-fallback);
  --font-family-Oswald: Oswald, var(--font-family-default-fallback);
}
