/* Placeholders for styles to be applied elements out of Guided Tour */

@define-placeholder gt__rte-h1 {
  font-size: 2em;
  font-weight: bold;
}

@define-placeholder gt__rte-h2 {
  font-size: 1.5em;
  font-weight: bold;
}

@define-placeholder gt__rte-h3 {
  font-size: 1.17em;
  font-weight: bold;
}

@define-placeholder gt__rte-code-inline {
  background: #f3f3f3;
}

@define-placeholder gt__rte-code-block {
  margin: 10px 0;
  padding: 10px;
  background: #f3f3f3;
}
