#gt-root {
  height: 400px;
  background: yellow;
}

.popups-store {
  /* no any position!!! */
}

.popup-container {
  position: absolute;
  left: 99pt;
  top: 99pt;
  width: 200pt;
  padding: 10pt;
  box-shadow: 0 0 10pt rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10pt;
}

.popup-container .action-container {
  text-align: center;
}
