/* Globally used styles are here */

.gtu__table {
  display: table;
}

.gtu__table-row {
  display: table-row;
}

.gtu__table-cell {
  display: table-cell;
}

.gtu__w100 {
  width: 100%;
}

.gtu__h100 {
  height: 100%;
}

.gtu__float-right {
  float: right;
}
