/* Globally used styles are here */

.gtu__pos-relative {
  position: relative;
}

.gtu__table {
  display: table;
}

.gtu__table-row {
  display: table-row;
}

.gtu__table-cell {
  display: table-cell;
}

.gtu__w100 {
  width: 100%;
}

.gtu__h100 {
  height: 100%;
}

.gtu__float-right {
  float: right;
}

.gtu__unstyled-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
