@global-import '../../../styles/sync-placeholders.pcss';

:global .gt__rte-container {
  height: 215px;
  padding-bottom: 20px;
}

/* TODO: remove after moving the script out of an iframe */

:global .gt__rte-h1 {
  @extend gt__rte-h1;
}

:global .gt__rte-h2 {
  @extend gt__rte-h2;
}

:global .gt__rte-h3 {
  @extend gt__rte-h3;
}

:global .gt__rte-code-block {
  @extend gt__rte-code-block;
}

:global .gt__rte-code-inline {
  @extend gt__rte-code-inline;
}
