.editable {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.editable-name {
  box-sizing: border-box;
  width: 75%;
  height: 20px;
  margin-right: 10px;
}

.editable-action-panel {
  float: right;
  margin-right: 5%;
}

.editable-action {
  &:global(.material-icons) {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.is-wrong-value {
  border-color: red;
}