.action-container {
  padding: 10px 15px;
}

.action-container > input {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  height: 20px;
}

.action-container > button {
  float: right;
  width: 20%;
  height: 20px;
  border: 0;
  border-radius: 0;
  color: #fff;
  background: #19c2d5;

  &:hover {
    cursor: pointer;
  }
}
