.container {
  display: inline-table;
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-height: 350px;
}

.text-editor-container {
  display: table-cell;
  position: relative;
  width: 55%;
  vertical-align: top;
}

.settings-container {
  display: table-cell;
  height: 300px;
  padding-left: 20px;
}

.details {
  box-sizing: border-box;
  width: 100%;
}

.text-editor {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
}
