@import '../../../styles/mixins/action-button.pcss';

.container {
  margin: 20px 0;
  min-height: 344px;
}

.main-header {
  padding-top: 20px;
  padding-bottom: 15px;
  overflow: hidden;
}

.action {
  @mixin action-button;
}

.steps-container {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: var(--font-family-Oswald);
}
