@import '../../../styles/settings.pcss';
@import '../../../styles/mixins.pcss';

.container {
}

.main-header {
  padding-top: 20px;
  padding-bottom: 15px;
  overflow: hidden;
}

.action {
  @mixin action-button;
}