:global .gt-settings-popup-container {
  /*position: absolute;*/
  /*left: 300pt;*/
  /*top: 100pt;*/
  /*width: 300pt;*/
  /*background: #a6a6a6;*/
  /*padding: 4pt 4pt 6pt;*/
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.option-name {
  font-weight: bold;
}

.option-details {
}