.editable {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.editable-name {
  box-sizing: border-box;
  width: 55%;
  height: 20px;
  margin-right: 10px;
}

.editable-type {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 20px;
}

:global(.material-icons).editable-action {
  float: right;
  margin-right: 7%;
  font-size: 20px;
}

.editable-action:hover {
  cursor: pointer;
}

.is-wrong-value {
  border-color: red;
}
