@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:global .gt-config-container {
  position: relative;
}

:global .gt-search-component {
  float: right;
}

.logo-bar {}

.logo {
  width: 179px;
  height: 69px;
}

.main-header {
  padding-bottom: 8pt;
  border-bottom: 0.5pt solid #d8d8d8;
  margin-bottom: 8pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #595959;
  text-transform: uppercase;
  overflow: hidden;
}

.action {
  min-width: 80pt;
  padding: 6pt 10pt;
  border: 0;
  border-radius: 0;
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #19c2d5;
  margin-right: 10pt;
}