@import '../../../styles/settings.pcss';
@import '../../../styles/mixins.pcss';
@global-import '../../../styles/utilities.pcss';

.logo-bar {}

.logo {
  width: 179px;
  height: 69px;
}

.main-header {
  padding-bottom: 8pt;
  border-bottom: 0.5pt solid #d8d8d8;
  margin-bottom: 8pt;
  font-family: var(--font-family-Source-Sans-Pro);
  font-size: 12pt;
  font-weight: bold;
  color: #595959;
  text-transform: uppercase;
  overflow: hidden;
}

.action {
  @mixin action-button;
}
