@import '../../../styles/mixins/action-button.pcss';

.logo-bar {}

.logo {
  width: 179px;
  height: 69px;
}

.main-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
  font-family: var(--font-family-Source-Sans-Pro);
  font-size: 16px;
  font-weight: bold;
  color: #595959;
  text-transform: uppercase;
  overflow: hidden;
}

.action {
  @mixin action-button;
}
